body {
    padding-top: 50px;
    font-family: futura, sans-serif;
    background-image: url(../Image/Body_Background.jpg);
}
body h1, h2, h3, h4, h5, h6 {
    font-family: Impact, Charcoal, sans-serif;
}
/* navbar & jumbotron */

.navbar-header .navbar-brand {
    font-family: Impact, Charcoal, sans-serif;
}
.jumbotron {
    background-image: url(../Image/Jumbo_Background.jpg);
    color: white;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 100%;
    text-shadow: 2px 2px black;
}
.jumbotron h1 {
    font-family: Impact, Charcoal, sans-serif;
}
.jumbotron .profile-pic {
    padding-top: 22px;
    padding-left: 20px;
    margin-right: 25px;
}
.jumbotron .profile-pic:hover {
    position: relative;
    top: 3px;
    left: 3px;
}
.jumbotron .profile-pic img {
    height: 180px;
    width: 180px;
}
.jumbotron .jumbo-content .jumboBold {
    color: #FFBC05;
    text-decoration: none;
}
/* Bio */

.bio {
    position: relative;
    margin-bottom: 120px;
    padding-left: 100px;
    padding-right: 100px;
}
.bio .shortstory {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: Impact, Charcoal, sans-serif;
    line-height: 120px;
    color: #282320;
    top: 0;
    letter-spacing: .030em;
}
.bio .longstory {
    position: absolute;
    padding-right: 100px;
    top: 60px;
    line-height: 120px;
    color: #81756b;
}
.bio .shortstory strong {
    font-weight: 900;
    color: #f61fa8;
}
.bio .longstory strong {
    text-transform: uppercase;
}
/* Helper Link */

.helper-link {
    background-image: url(../Image/Jumbo_Background.jpg);
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 40px;
    color: white;
    text-shadow: 2px 2px black;
}

.helper-link p {
    font-size: 20px;
}

.helper-link .row .btn {
    text-shadow: 0px 0px black;
}

/* Experience */

#expTitle {
    text-align: center;
}
#expSelector{
    margin-top: 20px;
}

.exp {
    margin-bottom: 20px;
}

.exp h3 {
    display:inline-block;
}

.exp .duration {
    display: inline-block;
    padding-left: 5px;
}

.exp h5 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}

div div.thumbnail{
    margin-top: 20px;
}
/* Footer */

footer {
    background-color: #F8F8F8;
}
footer .container {
    font-size: 20px;
    padding-top: 10px;
    font-family: Impact, Charcoal, sans-serif;
    color: #555;
}
footer .container .social-links {
    text-decoration: none;
}
footer .container .social-links img {
    margin-left: 30px;
    height: 48px;
    width: 48px;
}
footer .container .social-links img:hover {
    position: relative;
    top: 2px;
    left: 2px;
}
