body {
	padding-top: 50px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

body h1 {
	font-family: Impact, Charcoal, sans-serif;
}

.navbar-header .navbar-brand {
	font-family: Impact, Charcoal, sans-serif;
}

.jumbotron {
	background-image: url(../Image/sunset.jpg);
	color: white;
	background-repeat: no-repeat;
	margin-bottom: 0px;
	width: 100%;
	text-shadow: 2px 2px black;
}

.jumbotron h1 {		
	font-family: Impact, Charcoal, sans-serif;
}

.jumbotron .profile-pic {
	padding-top: 22px;
	padding-left: 20px;
	margin-right: 25px;
}

.jumbotron .profile-pic:hover {
	position: relative;
	top: 3px;
	left: 3px;
}

.jumbotron .profile-pic img {
	height: 180px;
	width: 180px;
}

.jumbotron .jumbo-content .jumboBold {
	color: #FFBC05;
	text-decoration: none;
}

.jumbotron .jumbo-content .jumboBold:hover {
	position: relative;
	top: 3px;
	left: 3px;
}

.self-intro {
	background-color: white;
	padding-right: 80px;
	padding-left: 80px;
}

footer {
	margin-top: 30px;
	background-color: #F8F8F8;
}

footer .container {
	font-size: 20px;
	padding-top: 10px;
	font-family: Impact, Charcoal, sans-serif;
	color: #555;
}

footer .container .social-links{
	text-decoration: none;
}

footer .container .social-links img{
	margin-left: 30px;
	height: 48px;
	width: 48px;
}

footer .container .social-links img:hover{
	position: relative;
	top: 2px;
	left: 2px;
}

