<div ng-controller="expCtrl">
    <div class="container">

        <h1 id="#expTitle">Working Experience</h1>
        <div id="expSelector">
            Filter:
            <select name="filterBy" id="">
                <option value="date">Date</option>
                <option value="alphabetic">Alphabetic</option>
            </select>
        </div>

        <div ng-repeat="experience in data.experiences | orderBy: 'company' ">
            <div class="col-xs-8">
                <h3>{{experience.company}}</h3>
                <p>{{experience.startingDate}}</p>
                <h5>Title:</h5>
                <p>{{experience.title}}</p>
                <h5>Responsibilities:</h5>
                <ul ng-repeat="responsibility in experience.responsibilities">
                    <li>{{responsibility}}</li>
                </ul>
                <h5>Accomplishments:</h5>
                <ul ng-repeat="accomplishment in experience.accomplishments">
                    <li>{{accomplishment}}</li>
                </ul>
            </div>
            <div class="col-xs-4" id="map_canvas">
            </div>
        </div>

    </div>
</div>
