<div ng-controller="expCtrl">
    <!--
    <div class="container-fluid">
        <h1 id="expTitle">Working Experience</h1>
        <div ng-repeat="experience in data.experiences">
            <div class="col-sm-12 exp">
                <div class="col-sm-12">
                    <h3>{{experience.company}}</h3>
                    <p class="duration">{{experience.startingDate}} - {{experience.endingDate}}</p>
                </div>
                <div class="col-sm-2">
                    <h5>Title:</h5>
                    <p>{{experience.title}}</p>
                    <h5>Location:</h5>
                    <p>{{experience.location}}</p>
                </div>
                <div class="col-sm-6">
                    <h5>Responsibilities:</h5>
                    <ul ng-repeat="responsibility in experience.responsibilities">
                        <li>{{responsibility}}</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h5>Accomplishments:</h5>
                    <ul ng-repeat="accomplishment in experience.accomplishments">
                        <li>{{accomplishment}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   -->


    <h1 id="expTitle">Working Experience</h1>
    <carousel class="exp hidden-xs">
        <slide ng-repeat="experience in data.experiences">
            <h3>{{experience.company}}</h3>
            <p class="duration">{{experience.startingDate}} - {{experience.endingDate}}</p>
            <br/>
            <h5>Title:</h5>
            <p>{{experience.title}}</p>
            <h5>Location:</h5>
            <p>{{experience.location}}</p>
            <h5>Responsibilities:</h5>
            <ul ng-repeat="responsibility in experience.responsibilities">
                <li>{{responsibility}}</li>
            </ul>
            <h5>Accomplishments:</h5>
            <ul ng-repeat="accomplishment in experience.accomplishments">
                <li>{{accomplishment}}</li>
            </ul>
        </slide>
    </carousel>

    <carousel class="exp-xs hidden-sm hidden-md hidden-lg">
        <slide ng-repeat="experience in data.experiences">
            <h3>{{experience.company}}</h3>
            <p class="duration">{{experience.startingDate}} - {{experience.endingDate}}</p>
            <br/>
            <h5>Title:</h5>
            <p>{{experience.title}}</p>
            <h5>Location:</h5>
            <p>{{experience.location}}</p>
            <h5>Responsibilities:</h5>
            <ul ng-repeat="responsibility in experience.responsibilities">
                <li>{{responsibility}}</li>
            </ul>
            <h5>Accomplishments:</h5>
            <ul ng-repeat="accomplishment in experience.accomplishments">
                <li>{{accomplishment}}</li>
            </ul>
        </slide>
    </carousel>

</div>
