<div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <div class="pull-left profile-pic">
            <img src="Image/profilepic.jpg" alt="profile photo" class="img-circle">
        </div>
        <div class="container-fluid jumbo-content">
            <h1 class="text-right">My name is
                <span class="jumboBold">Howard Chang</span>
            </h1>
            <h2 class="text-right">I
                <span class="jumboBold">code
                </span>and make
                <span class="jumboBold">websites</span>
            </h2>
        </div>
    </div>

    <!-- Self Introduction -->
    <div class="container-fluid self-intro">
        <h1 class="text-center">WHO AM I?</h1>
        <div class="col-sm-6">
            <p>My name is Mark Hobbs and I'm a designer. I create print & web awesomeness. And no…I am not normal. I am much more than that. I'm extraordinary. I'm adaptable, loyal, ambitious & an Eagle Scout (shameless plug), which means that I am the cream of the crop. I live, breathe, drink and absolutely love design. I'm in love with ideas; building them, cultivating them, and watching them come to fruition. Nothing makes me happier. My background is very diverse, ranging everywhere from digging ditches (true story), the restaurant business & even cutting down trees. All this has given me a very unique insight into communication. I understand what they want and why they want it. What they need and why they need it. And how they go about getting it. Which is why I am great at what I do.</p>
        </div>
        <div class="col-sm-6">
            <p>I have used this insight to polish, cultivate and adapt my skills, in a never-ending mission to learn so that I can continue to be on the cutting-edge of information sharing. I'm like a sponge. I listen. I learn. I implement. Having me on your side, you can rest assured you will get the best of the best. Because second best will never do. I'm ready to step it up. I want to change the world, I'm willing to do whatever it takes, and I'm looking for someone who has the same crazy aspirations. I hope that's you and I hope you're looking for someone willing to put it all on the line. Because you've found them. It's time to take it up a notch, and I'm ready. No matter the task, I can help you make it happen…scratch that… I WANT TO.</p>
        </div>
    </div>

    <!-- Links to Detail -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 text-center">
                <img src="" alt="">
                <h1>Experience</h1>
                <p>Everything. The foundation of skills you're looking for, the fresh face, mind and perspective you need. I have the technical skills necessary and more importantly, the drive and ambition required to make every project a success. But enough with the buzzwords. This is what I've been up to…</p>
                <a href="#/experience" class="btn btn-success">Learn More!</a>
            </div>
            <div class="col-sm-4 text-center">
                <img src="" alt="">
                <h1>Skills</h1>
                <p>lI've been working as a graphic designer in the marketing & communications department of Professional Photographers of America (PPA) for the past 4 years, producing all the creative for PPA. Including advertising in Professional Photographer magazine, trade show graphics for PPA's annual convention, Imaging USA, web graphics and site designs. I've been involved in all the processes from concept to completion. And…I have been running my own freelance design business as well, gaining valuable experiences otherwise not gained in an office environment.</p>
                <a href="#/skill" class="btn btn-success">Learn More!</a>
            </div>
            <div class="col-sm-4 text-center">
                <img src="" alt="">
                <h1>Works</h1>
                <p>I'm ready. Are you? I’m dying to get to know you. And I have a feeling you want to get to know me. So just do it already. Let's have a talk and find out how we can get started on changing the world together. You can e-mail me, or call. I promise I’ll answer. And I'm waiting.</p>
                <a href="#/work" class="btn btn-success">Learn More!</a>
            </div>
        </div>
    </div>

</div>
