<div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <div class="pull-left profile-pic">
            <img src="Image/profilepic.jpg" alt="profile photo" class="img-circle">
        </div>
        <div class="container-fluid jumbo-content">
            <h1 class="text-right">My name is
                <span class="jumboBold">Howard Chang</span>
            </h1>
            <h2 class="text-right">I
                <span class="jumboBold">code
                </span>and make
                <span class="jumboBold">websites</span>
            </h2>
        </div>
    </div>

    <!-- Self Introduction -->
    <div class="container-fluid">
        <div class="row">
            <div class="bio">
                <p class="shortstory">I’m Howard Chang. I have over 7 years of experience in web design and development. Lashi asdas ashdihas sahdisad
                </p>
                <p class="longstory">
                    I love the web. I have a true passion for technology and design and I’ve been blessed to find a career where I’m able to delve into both! I strive to provide the upmost quality in my work. I am continually growing my knowledge of the best techniques and current web-trends to ensure my designs are fresh and unique. I hand-code each of my front-end development projects in standards compliant HTML5/CSS3. I also develop WordPress, an opensource platform that allows me to create custom Content Management Solutions at an affordable rate for my clientele.
                </p>
            </div>
        </div>
    </div>

    <hr/>

    <!-- Links to Detail -->
    <div class="container-fluid helper-link">
        <div class="row">
            <div class="col-sm-4 text-center experience">
                <img src="" alt="">
                <h1>Experience</h1>
                <p>My past working experience and education are included in this section, you will likely to know more about me after reading this section!</p>
                <a href="#/experience" class="btn btn-success">Learn More!</a>
            </div>
            <div class="col-sm-4 text-center skills">
                <img src="" alt="">
                <h1>Skills</h1>
                <p>Come and take a look at what do I have in my toolbox. In this section, my skills will be introduced and see if any of them can benefit your company!</p>
                <a href="#/skill" class="btn btn-success">Learn More!</a>
            </div>
            <div class="col-sm-4 text-center works">
                <img src="" alt="">
                <h1>Works</h1>
                <p>Curious about what I have made in the past? Check out this section which contains my previous works!</p>
                <a href="#/work" class="btn btn-success">Learn More!</a>
            </div>
        </div>
    </div>

</div>
