<div>
    <div class="jumbotron">
        <h1>Ingress</h1>
        <p>Ingress. The game. It's happening all around you. They aren't coming. They're already here.</p>
        <a href="#" class="btn btn-primary btn-lg">Join Now!</a>
    </div>

    <div class="container-fluid">

        <div class="col-lg-2 col-md-4 col-sm-6">
            <h3>Enlightened</h3>
            <p>Faction attempting to help the Shapers infiltrate Earth. Followers believe that the Shapers bring a powerful enlightenment that will lift humankind</p>
            <a href="#" class="btn btn-success">Join the Enlightened</a>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6">
            <h3>Helios</h3>
            <p>Meh. Those bastards have one of the largest farms in the world. They are completely unopposed because every Resistance player has quit or flipped around there. They have over 160 L8 portals that have stood for months. We used to conduct raids there periodically, but gathering 4000 xmp, 400 cubes, and at least 3 players with 5 hours to spare got tiresome when they'd rebuild the farm before we had finished wiping it all.</p>
            <a href="#" class="btn btn-warning">Join the Helios</a>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div class="col-lg-2 col-md-4 col-sm-6">
            <h3>Resistance</h3>
            <p>Faction defending the Earth from the Shaper ingression. They are seen by some as being fearful of change or progress, but the Resistance is firm in its belief that it is protecting humanity.</p>
            <a href="#" class="btn btn-info">Join the Resistance</a>
        </div>

        <div class="clearfix visible-md-block"></div>

        <div class="col-lg-2 col-md-4 col-sm-6">
            <h3>HTML</h3>
            <p>A web browser can read HTML files and compose them into visible or audible web pages. The browser does not display the HTML tags, but uses them to interpret the content of the page. HTML describes the structure of a website semantically along with cues for presentation, making it a markup language rather than a programming language.</p>
            <a href="#" class="btn btn-danger">Learn HTML</a>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div class="col-lg-2 col-md-4 col-sm-6">
            <h3>CSS</h3>
            <p>Cascading Style Sheets (CSS) is a style sheet language used for describing the look and formatting of a document written in a markup language. While most often used to style web pages and user interfaces written in HTML and XHTML, the language can be applied to any kind of XML document, including plain XML, SVG and XUL. CSS is a cornerstone specification of the web and almost all web pages use CSS style sheets to describe their presentation.</p>
            <a href="#" class="btn btn-warning">Learn CSS</a>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6">
            <h3>JavaScript</h3>
            <p>JavaScript (JS) is a dynamic computer programming language.[5] It is most commonly used as part of web browsers, whose implementations allow client-side scripts to interact with the user, control the browser, communicate asynchronously, and alter the document content that is displayed.[5] It is also being used in server-side network programming (with Node.js), game development and the creation of desktop and mobile applications.</p>
            <a href="#" class="btn btn-info">Learn Javascript</a>
        </div>
    </div>
</div>
